$line-color := rgba(#000,.14)
$secondary-dark-color := #9f6900

$heading-font-family := 'Latooo', sans-serif
$header-height := 60px
$feedback-form-width := 660px
$map-toolbar-height = 40px

$button-text-transform := none
$button-font-weight := 400
 $button-border-radius := 40px

$light-bg := #f5f5f5
