html
    overflow: hidden
    
body
    color: rgba(0,0,0,.87)
    
.application
    position: relative;
    height: 100vh;
    overflow: auto;
    
.content
    position: absolute;
    left:0;
    top:$header-height;
    bottom:0;
    width: 100%;
    min-width: $grid-breakpoints.md;
    overflow: hidden;

.layout
    width: 100%
    
.container
    padding: $spacers.three.y $spacers.three.x