.btn
    font-family: $heading-font-family
    button($material-light)
        
    &.btn--large
        font-size: $button-large-font-size
        height: $button-large-height
        font-weight: 400
        
        .btn__content
            padding: 0 $spacers.four.x
            
    &.btn--xlarge
        font-size: 18px;
        height: 42px;
        font-weight: 700;
        
        .btn__content
            padding-left: 32px
            padding-right: 32px
            
    &.btn--faded::after
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.4);
        border-radius: inherit;
        
.theme--light .btn.btn--disabled:not(.btn--icon):not(.btn--flat)
    background-color: rgba(0,0,0,.12) !important
    color: #fff !important