.stepper
    box-shadow: none;
    
    &__label
        text-shadow: none !important;
        
        .input-group--single-line:first-of-type
            margin-top: -18px
    
    &__step
        &__step
            width: 28px;
            height: 28px;
            color: #fff;
            font-size: 14px;
            font-weight: bold
            background-color: $theme.secondary
            
            .icon
                color: #fff
        &:not(.stepper__step--active):not(.stepper__step--complete):not(.stepper__step--error)
            .stepper__step__step
                background: rgba(0,0,0,.1) !important
                color: rgba(0,0,0,.48) !important
                
        &--inactive
            .stepper__label
                opacity:.48
        
        &--active
            .stepper__step__step.primary
                background-color: $theme.secondary !important
                color: $theme.primary !important
    
.stepper--vertical 
    .stepper
        &__step__step            
            margin-right: 24px
        &__content
            padding-left: 36px
            border-left: 0 !important
            
        &__label
            .input-group:last-child
                padding-bottom:0