.stepper
    box-shadow: none;
    
    &__label
        .input-group--single-line:first-of-type
            margin-top: -18px
    
    &__step
        &__step
            width: 28px;
            height: 28px;
            color: #fff;
            font-size: 14px;
            font-weight: bold
            background-color: $theme.secondary
            
            .icon
                color: #fff
        &:not(.stepper__step--active):not(.stepper__step--complete)
            .stepper__step__step
                background: rgba(0,0,0,.1)
                color: rgba(0,0,0,.48)
                
        &--inactive
            .stepper__label
                opacity:.48
        
        &--active
            .stepper__step__step
                background-color: $theme.secondary
                color: $theme.primary
    
.stepper--vertical 
    .stepper
        &__step__step            
            margin-right: 24px
        &__content
            padding-left: 36px